@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Acme);

.card_box-wrapper {
    background-color: #fff;
    overflow: hidden;
    max-width: 270px;
    min-width: 180px;
    box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.48);
    padding: 0;
    text-align: center;
    position: relative;
    margin: 10px;

    .card_img {
        max-width: 100%;
    }
}
.card_box-wrapper:hover {
    background-color: rgb(68, 9, 107);
    color: #fff;
    .card_box-content {
        &:before {
            background-color: rgb(68, 9, 107);
        }
    }
}

.card_title {
    font-size: 1.6em;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    font-family: "Acme", sans-serif;
}

.card_desc {
    font-family: "Satisfy", cursive;
    font-size: 1.2em;
}

.card_box-content {
    position: relative;
    z-index: 1;

    &:before {
        content: "";
        width: 200%;
        height: 100px;
        position: absolute;
        display: block;
        background-color: #fff;
        transform: rotate(-8deg);
        top: -50px;
        left: -10%;
        z-index: -1;
    }

    .card_buy {
        display: block;
        top: -80px;
        right: 30px;
        z-index: 2;
        width: 70px;
        height: 70px;
        position: absolute;
        cursor: pointer;

        span {
            width: 70px;
            height: 70px;
            background-color: #06d6a0;
            display: block;
            border-radius: 50%;
            position: absolute;
            font-size: 36px;
            color: #fff;
            transition: all 0.3s ease;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;

            i {
                padding: 15px;
            }

            .expanded & {
                width: 750px;
                height: 750px;

                i {
                    display: none;
                }
            }
        }
    }
    .card_buy:hover {
        display: block;
        top: -80px;
        right: 30px;
        z-index: 2;
        width: 70px;
        height: 70px;
        position: absolute;
        cursor: pointer;

        span {
            width: 70px;
            height: 70px;
            background-color: #a20404;
            display: block;
            border-radius: 50%;
            position: absolute;
            font-size: 36px;
            color: #fff;
            transition: all 0.3s ease;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;

            i {
                padding: 15px;
            }

            .expanded & {
                width: 750px;
                height: 750px;

                i {
                    display: none;
                }
            }
        }
    }

    .card_price {
        font-size: 2em;
        font-weight: 900;
        display: block;
        width: 100px;
        margin: 20px auto 0;
        position: relative;
        font-family: "Satisfy", cursive;
    }

    .card_footer {
        ul {
            list-style: none;
            padding: 0;
            margin: 1em 0;

            li {
                color: #efd829;
            }
        }
    }
}

:root {
    --footer-bg: #1c2444;
    --color: #f2f3fb;
    --color-smooth: #9da2ae;
    --input-border: #3a456a;
    --btn-bg-color: #f1f2fc;
    --btn-hover-bg: #d5d9f6;
    --btn-color: #1e2641;
}

footer {
    font-size: 16px;
    background: var(--footer-bg);
    padding: 2em 4em;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1em;
    font-family: "IBM Plex Sans", sans-serif;
}

footer ul {
    list-style: none;
}

.col {
    flex: 1;
}

.col-title {
    font-family: "Merriweather", serif;
    color: var(--color);
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.5em 0;
}

.col-list a {
    color: var(--color-smooth);
    text-decoration: none;
    line-height: 1.4;
    font-weight: 400;
}

.col-list a:hover,
.col-list a:focus {
    text-decoration: underline;
}

.subscribe-form,
.social-media {
    display: flex;
    gap: 0.5em;
    padding: 0.5em 0;
}

.subscribe-input {
    width: auto;
    flex: 1;
    background: transparent;
    border: 0.06em solid var(--input-border);
    font-size: 1em;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
    display: inline-block;
    color: var(--color-smooth);
}

.subscribe-input:focus {
    outline: none;
    border-color: var(--color);
    color: var(--color);
}

.subscribe-btn {
    background: var(--btn-bg-color);
    border: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
    display: inline-block;
    color: var(--btn-color);
    cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background: var(--btn-hover-bg);
}

.form-title,
.social-col-title {
    font-size: 1em;
    color: var(--color);
    font-weight: 500;
}

.social-media {
    flex-direction: column;
}

.social-media-list {
    display: flex;
    gap: 0.5rem;
}

.social-media-list a {
    padding: 0.5em;
    color: var(--color-smooth);
    display: flex;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
}

.social-media-list a:hover,
.social-media-list a:focus {
    color: var(--color);
    background: #ffffff1a;
}

.social-media-list svg {
    width: 1.5em;
    height: 1.5em;
    transition: all 0.25s ease 0s;
}

@media screen and (max-width: 750px) {
    footer {
        padding: 2em;
        flex-direction: column;
    }
}

.slide_carosel {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
